
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Roboto&display=swap');


* {
  box-sizing: border-box;
 
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    #45235a,
    #482155,
    #4b1f4f,
    #4d1d4a,
    #4e1c45
  );
  overflow: hidden;
}

.icon{
  position: absolute;
  top: 25%;
  right: 2%;
  transform: translateY(-50%);
  
  width: 20px;
  height: auto;
  z-index: 1;
}


